<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Bits and Droids connector</Name>
    <Version>1.1.0</Version>
    <Title>Bits and Droids offline installer</Title>
    <Publisher>Bits and Droids</Publisher>
 <InstallerWindowIcon>BitsAndDroidsLogo</InstallerWindowIcon>
    <InstallerApplicationIcon>BitsAndDroidsLogo</InstallerApplicationIcon>
    <StartMenuDir>Bits and Droids connector</StartMenuDir>
    <TargetDir>@ApplicationsDir@/BitsAndDroids</TargetDir>
    <MaintenanceToolName>ConnectorMaintenanceTool</MaintenanceToolName>
    <CreateLocalRepository>false</CreateLocalRepository>
<RunProgram>@TargetDir@/bin/BitsAndDroidsConnector.exe</RunProgram>
</Installer>